<div class="container">
  <input placeholder="Enter First Item" type="text" [(ngModel)] = "item1">
  <input placeholder="Enter Price" type="text" [(ngModel)] = "price1">
  <br>
  <input placeholder="Enter Second Item" type="text" [(ngModel)] = "item2">
  <input placeholder="Enter Price" type="text" [(ngModel)] = "price2">
  <br>
  <button (click) = "generateInvoice()"> Generate Invoice </button>
  <p *ngIf = "!temp2"> Field(s) can't be empty </p>
  <div *ngIf = "temp2">
    <div *ngIf = "temp">
      <p> {{ item1 }} </p>
      <p> {{ item2 }} </p>
      <p> {{ total }}</p>
      <button (click) = "checkout()" type="submit"> Checkout </button>
  </div>
  <div *ngIf = "temp1">
    <p> {{ item1 }} : {{ price1 }}</p>
    <p> {{ item2 }} : {{ price2 }}</p>
    <p> Total : {{ total }}</p>
    <p> Amount : {{ amount }}</p>
    <p> Tax : {{ tax }}</p>
  </div>
</div>
